<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑图片</title>
    <style>
        img{
            width: 300px;
            height: 150px;
        }
    </style>
</head>
<body>
    <h2>编辑图片</h2>
    <form action="/add" method="post">
        图片: <input type="text" name="img">
        <button type="submit">上传</button>
    </form>
    <ul>
        {{each list}}
        <li>
            <img src="{{@$value.img}}">
            <a href="/remove?id={{@$value._id}}">删除</a>
        </li>
        {{/each}}
    </ul>
</body>
</html>